@model FeaturedProductsViewModel
@{
    ViewBag.Title = "Home Page";
}

<h2>Featured Products</h2>
<div>
    @foreach (var product in Model.Products)
    {
        <div>
            @Html.Encode(product.SummaryText)
        </div>
    }
</div>
